@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-color:#333333;
    --black:#13131a;
    --bg: #f5f5f5;
    --gold: #cc9933;
    --green: #666633;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

/* Header Style */
header {
    z-index: 99999;
    width: 100%;
    color: var(--bg);
    background-color: var(--black);
    border-bottom: 4px solid var(--black);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    width: 100%;
    display: inline-flex;
    padding: 20px 60px;
    /* align-items: center; */
}

.navbar .container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    /* float: left; */
    display: inline-block;    
}
.logo h2 {
    font-size: 14px;
    color: var(--gold);
    font-size: 12px;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-nav {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}
.navbar-collapse {
    align-self: center;
}

.navbar-collapse ul li a{
    color: var(--bg);
    text-decoration: none;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.current {
    background-color: var(--gold);
    color: var(--bg);
    border-radius: 10px;
    margin-right: 10px;
}
.navbar-collapse ul li a:hover {
    background-color: var(--gold);
    color: var(--black);
    border-radius: 10px;
}
.navbar .navbar-toggler-icon {
  background-image: none;
}
.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  /* position: absolute; */
  right: 50px;
  top: 20px;
  display: none;
}
.navbar .navbar-toggler-icon:after {
  content: "\f0c9";
  color: var(--black);
  font-size: 28px;
  /* line-height: 24px; */
  padding: 5px;
  font-family: "FontAwesome";
}

.hero-banner {
    background: url(../Image/Botoku\ Chief\ web\ banner.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    object-fit: cover;
    color:var(--gold);
    padding: 0 auto;
    text-align: center;
}

.hero-banner h4 {
    font-size: 45px;
    font-weight: bold;
    padding-top: 120px;
}
.hero-banner h2 {
    font-size: 85px;
    font-weight: bold;    
}

/* Carousel Session */
.carousel-sec {
    width: 100%;
    padding: 30px 60px 0;
}
.carousel-sec .hr {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--gold);
}
.carousel-sec .row {
    display: inline-flex;
    width: 100%;
}
.carousel-sec .carousel-main {
    width: 25%;
    position: relative;
    color: var(--gold);
    /* border: 1px solid var(--gold); */
}
.carousel-main img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.hover-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 51, 51, 0.8);   
}
.carousel-main:hover .hover-effect {
    opacity: 1;
}

.carousel-sec .carousel-main ul li{
    list-style: none;
    padding: 10px 15px;
    background-size: cover;
    color: var(--bg);
}

.carousel-main ul li a {
    text-decoration: none;
    color: var(--bg);
    border: 2px solid var(--bg);
    /* border-radius: 50%; */
    padding: 5px;
    margin: 0 auto;
}

.carousel-main ul li a:hover {
    background: var(--black);
    color: var(--bg);
}

/* About Togbe best features */
.best-features {
    margin: 30px 60px 0;
}
.best-features .row {
    display: inline-flex;
    padding-bottom: 30px;
}
.left-content {
    width: 50%;
    /* position: relative; */
    color: var(--gold);
}
.best-features .left-content img {
    float: left;
    width: 100%;
}
.best-features .left-content p {
    color: var(--main-color);
    font-size: 15px;
}

.best-features .left-content a {
    color: var(--green);
    font-weight: 550;
}

.best-features .right-content {
    width: 50%;
    /* float: right; 
    position: relative; */
    padding-left: 50px;
}
.best-features .col-md-4 {
    width: 100%;
    background-color: var(--bg);
}

.accordion li {
  cursor: pointer;
  font-size: 17px;
  color: var(--green);
  border-bottom: 0.05px solid rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 100%;
  font-weight: bold;
  transition: all 0.3s;
}
.accordion .fa-solid {
    float: right;
    padding: 0 25px;
}  
.accordion li:hover {
  color: var(--bg) !important;
  background-color: var(--green);
}
  
.accordion a.active {
  color: var(--green) !important;
}
  
.accordion li .content {
  display: none;
  margin-top: 10px;
}
  
.accordion li:first-child {
  border-top: 1px solid var(--bg);
}





/* Latest news session */
.news {
    padding: 0 60px;
}

.news .media-block {
    border-top: 0.05px solid rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
    display: inline-flex;
}

.media-body {
    width: 50%;
    padding: 0 40px 0 15px;
    display: inline-block;
    border-right: 0.05px solid rgba(0, 0, 0, 0.3);
}
.media-body h3{
    color: var(--gold);
    padding-bottom: 15px; 
    font-size: 20px;
}
.news-cont {
    display: inline-flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.media-body .news-cont img {
    width: 100px;
    height: 100px;
    float: left;
    object-fit: cover;
}

.news-details {
    padding-left: 20px;    
}

.news-details a {
    color: var(--green);
    font-weight: bold;
    font-size: 15px;
}

.news-details p {
    color: var(--main-color);
    font-size: 14px;
}

.article-block {
    /* float: right; */
    width: 50%;
    padding: 0 15px 0 40px;
}

.article-block h3 {
    color: var(--gold);
    padding-bottom: 15px;
    font-size: 20px;
}

.article-block a {
    color: var(--green);
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

.tourism {
    background: url(../Image/festival.jpg);
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.orange-cover {
    background: rgba(102, 102, 51, 0.35);
    /* align-items: center; */
    text-align: center;
    padding: auto;
    height: 400px;
    color: #fff;
    align-self: center;
    width: 100%;
}

.tourism h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 150px;
}
.tourism h2 {
    font-size: 44px;
    padding-bottom: 20px;
}

.tourism a {
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    word-spacing: 1.5;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 12px;
}
.tourism a:hover {
    color: var(--green);
    background: #fff;
}

/* Footer  Session */
.footer {
    background-color: var(--black);
}
.footer .container {
    padding: 30px 60px 0;
    color: #fff;
}

.footer .footer-contents {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer .footer-left {
    display: inline-block;
    width: 25%;
}
.logo-footer {
    padding-bottom: 15px;
}
.logo-footer img {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}

.logo-footer h4{
    font-size: 16px;
    /* font-weight: bold; */
}
.logo-footer h3{
    font-size: 24px;
    /* font-weight: bold; */
}
.footer .contact-footer h3 {
    padding-bottom: 10px;
    /* font-weight: 400; */
    font-size: 24px;
}
.footer .contact-footer .fa-solid {
    padding-right: 5px;
}
.footer .footer-contents .head {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.footer .footer-contents a{
    color: #fff;
    font-size: 14px;
    padding-bottom: 3px;
}
.footer .footer-contents a:hover {
    color: var(--green);
}
.footer .profile-footer {
    display: flex;
    flex-direction: column;
}
.footer .press-footer {
    display: flex;
    flex-direction: column;
}
.footer .gallery-footer {
    display: flex;
    flex-direction: column;
}
.footer-form {
    display: flex;
    flex-direction: column;    
}
.footer form {
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.footer .footer-form h4 {
    padding: 10px 0;
}
.footer #email {
    height: 30px;
    padding-left: 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.footer .btn-list {
    height: 30px;
    background-color: #9f7728;
    border-color: #9f7728;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 10px;
}


.footer .footer-bottom {
    width: 100%;
    border-top: 2px solid #fff;
    padding: 20px 0;
    display: inline-flex;
    text-align: right;
}
.footer .footer-socials {
    width: 55%;
}
.footer .footer-socials ul {
    display: flex;
    float: right;
}
.footer .footer-socials a {
    color: #fff;
    padding-right: 7px;
}
.footer .footer-socials a:hover {
    color: var(--green);
}
.footer-policy {
    width: 45%;
    /* float: right; */
}
.footer-policy ul li {
    float: right;
}
.footer .footer-policy a {
    color: var(--green);
}
.footer .footer-policy a:hover {
    color: #fff;
}


/* Media query max-width of 992px */
@media (max-width: 992px) {
    /* Header Session */
    header {
        width: 100%;
        left: 0;
    }
    .navbar-expand-lg .container {
        width: 100%;
        display: inline-block;
    }
      
    .navbar:after {
        display: none; 
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* width: 100%; */
        /* justify-content: space-between; */
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
    }
    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column;
    }

    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;        
        /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
    }
    .current {
        color: var(--bg);
        border: none;
    }

    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
        padding: 10px;
      }
      .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
      }
      .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e !important;
      }
      .navbar .navbar-nav .nav-link:hover,
      .navbar .navbar-nav .active > .nav-link,
      .navbar .navbar-nav .nav-link.active,
      .navbar .navbar-nav .nav-link.show,
      .navbar .navbar-nav .show > .nav-link {
        color: var(--green) !important;
        border-bottom: none !important;
        padding-bottom: 15px;
      }

}


/* Max-width of 768PX */
@media (max-width: 768px) {
    header {
        width: 100%;
        left: 0;
    }
    .navbar-expand-lg .container {
        overflow: hidden;
        position: relative;
    }
}
