@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-color:#333333;
    /* --black:#13131a; */
    --black:#000000;
    --bg: #f5f5f5;
    --gold: #cc9933;
    --green: #666633;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

a, p, li {
    line-height: 1.5rem;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

/* Header Style */
header {
    z-index: 99999;
    width: 100%;
    color: var(--bg);
    background-color: var(--black);
    border-bottom: 4px solid var(--black);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: fixed;
}

header .navbar {
    width: 100%;
    display: inline-flex;
    padding: 0 60px;
    /* align-items: center; */
}

.navbar .container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    display: inline-flex;
    align-items: center;   
}
.logo img {
    height: 70px;
    width: 70px;
    padding: 3px 10px 3px 0;
}
.logo h2 {
    color: var(--gold);
    font-size: 24px;
}
.logo h2 span {
    font-size: 20px;
}

/* spining log */
.rotated {
   -webkit-animation: spin 5s reverse infinite;
   -moz-animation: spin 5s linear infinite;
   animation: spin 5s linear infinite;
}

/* use keyframes */
@-webkit-keyframes spin {
    100%{-webkit-transform: rotateY(180deg);}
}
@-moz-keyframes spin {
    100%{-webkit-transform: rotateY(180deg);}
}
@keyframes spin {
    100%{-webkit-transform: rotateY(180deg);}
}


#navbarResponsive {
    z-index: 999;
}
.navbar-nav {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}
.navbar-collapse {
    align-self: center;
}

.navbar-collapse ul li a{
    color: var(--gold);
    text-decoration: none;
    padding: 7px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active > .nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show > .nav-link {
        color: var(--bg) !important;
}

.navbar-collapse ul li a:hover {
    color: var(--bg);
    border-radius: 10px;
}

.nav-sub {
    display: none;
}

.nav-sub ul li a {
    font-weight: 500;
}

.navbar .navbar-collapse ul .dropped:hover .nav-sub {
    display: block;
    position: absolute;
    background: var(--black);
    padding-top: 15px;
    /* margin-left: 15px; */
}

.navbar .navbar-collapse ul .dropped:hover .nav-sub ul {
    display: block;
    margin: 10px;
}

.navbar .navbar-collapse ul li:hover .nav-sub ul li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dotted var(--bg);
}

.navbar .navbar-toggler-icon {
  background-image: none;
}
.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  /* position: absolute; */
  right: 50px;
  top: 20px;
  display: none;
}
.navbar .navbar-toggler-icon:after {
  content: "\f0c9";
  color: var(--black);
  font-size: 28px;
  /* line-height: 24px; */
  padding: 5px;
  font-family: "FontAwesome";
}
/* Carousel banner */
.banner {
    width: 100%;    
    height: 500px;
    padding-top: 50px;
    overflow: hidden;
}

.banner .hero-banner {
    width: 500%;
    height: 500px;
    display: flex;
    color:var(--gold);
    text-align: center;
}
.hero-banner input {
    display: none;
}

.hero-banner .slide {
    width: 20%;
    z-index: 1;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slide .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide .slide-text a {
    color: var(--black);
    font-size: 22px;
    font-weight: bold;
    background: var(--gold);
    border-radius: 5px;
    padding: 5px 10px 10px;
    text-align: center;
}

.slide .slide-text a:hover {
    background-color: var(--bg);
    color: var(--gold);
}

.hero-banner h4 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}
.hero-banner h2 {
    top: 0;
    font-size: 85px;
    font-weight: bold;
    line-height: 85px;
    padding-bottom: 50px;
}

/* navigation slide */
.navigation-manual {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 80px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--gold);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover {
    background: var(--gold);
}

.manual-btn:focus {
    background-color: var(--gold);
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/* automatic navigation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1;
    justify-content: center;
    bottom: 88px;
}

.navigation-auto div {
    border: 2px solid var(--gold);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--gold);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--gold);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--gold);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--gold);
}


/* Carousel Session */
.carousel-sec {
    width: 100%;
    padding: 30px 60px 0;
}
.carousel-sec .hr {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--gold);
}
.carousel-sec .ron {
    display: inline-flex;
    width: 100%;
}
.carousel-sec .carousel-main {
    width: 25%;
    position: relative;
    color: var(--gold);
    /* border: 1px solid var(--gold); */
}
.carousel-main img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.hover-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 51, 51, 0.8);   
}
.carousel-main:hover .hover-effect {
    opacity: 1;
}

.carousel-sec .carousel-main ul li{
    list-style: none;
    padding: 10px 15px;
    background-size: cover;
    color: var(--bg);
}

.carousel-main ul li a {
    text-decoration: none;
    color: var(--bg);
    border: 2px solid var(--bg);
    /* border-radius: 50%; */
    padding: 5px;
    margin: 0 auto;
}

.carousel-main ul li a:hover {
    background: var(--black);
    color: var(--bg);
}

/* About Togbe best features */
.best-features {
    margin: 30px 60px 0;
}
.best-features .ron {
    display: inline-flex;
    padding-bottom: 30px;
}
.best-features .ron .left-content {
    width: 50%;
    /* position: relative; */
    color: var(--gold);
}
.best-features .left-content img {
    float: left;
    width: 100%;
}
.best-features .left-content p {
    color: var(--main-color);
    font-size: 15px;
    text-align: justify;
}

.best-features .left-content a {
    color: var(--green);
    font-weight: 550;
}

.best-features .right-content {
    width: 50%;
    /* float: right; 
    position: relative; */
    padding-left: 50px;
}
.best-features .cont-accord {
    width: 100%;
    background-color: var(--bg);
}

.accordion li {
  color: var(--green);
  border-bottom: 0.05px solid rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  width: 100%;
  /* font-weight: bold; */
  transition: all 0.3s;
}

.accordion h4 {
    font-size: 15px;
    padding: 0 15px 10px;
}

.accordion li a {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    padding: 0 15px;
}

.accordion li p {
    font-size: 14px;
    text-align: justify;
    padding: 0 15px;
}
.accordion .fa-solid {
    float: right;
    padding: 0 25px;
}  
.accordion li:hover {
  color: var(--bg) !important;
  background-color: var(--green);
}
  
.accordion a.active {
  color: var(--gold) !important;
}
  
.accordion li .content {
  display: none;
  margin-top: 10px;
}
  
.accordion li:first-child {
  border-top: 1px solid var(--bg);
}


/* Latest news session */
.news {
    padding: 0 60px;
}

.news .media-block {
    border-top: 0.05px solid rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
    display: inline-flex;
}

.news .media-body {
    width: 50%;
    padding: 0 40px 0 15px;
    display: inline-block;
    border-right: 0.05px solid rgba(0, 0, 0, 0.3);
}
.news .media-body h3{
    color: var(--gold);
    padding-bottom: 15px; 
    font-size: 20px;
}
.news-cont {
    display: inline-flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.media-body .news-cont img {
    width: 100px;
    height: 100px;
    float: left;
    object-fit: cover;
}

.news-details {
    padding-left: 20px;    
}

.news-details a {
    color: var(--green);
    font-weight: bold;
    font-size: 15px;
}

.news-details p {
    color: var(--main-color);
    font-size: 14px;
}

.article-block {
    width: 50%;
    padding: 0 15px 0 40px;
}

.article-block h3 {
    color: var(--gold);
    padding-bottom: 15px;
    font-size: 20px;
}

.article-block a {
    color: var(--green);
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

.tourism {
    background: url(../Image/festival.jpg);
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.orange-cover {
    background: rgba(102, 102, 51, 0.35);
    /* align-items: center; */
    text-align: center;
    padding: auto;
    height: 400px;
    color: #fff;
    align-self: center;
    width: 100%;
}

.tourism h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 150px;
}
.tourism h2 {
    font-size: 44px;
    padding-bottom: 20px;
}

.tourism a {
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    word-spacing: 1.5;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 12px;
}
.tourism a:hover {
    color: var(--green);
    background: #fff;
}

/* Footer  Session */
.footer {
    background-color: var(--black);
}
.footer .cont-foot {
    padding: 30px 60px 0;
    color: #fff;
}

.footer .footer-contents {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer .footer-left {
    display: inline-block;
    /* width: 25%; */
}
.logo-footer {
    padding-bottom: 15px;
}
.logo-footer img {
    width: 70px;
    height: 70px;
    padding-bottom: 10px;
}

.logo-footer h4{
    font-size: 16px;
    color: var(--gold);
}
.logo-footer h3{
    font-size: 24px;
    color: var(--gold);
}
.footer .contact-footer h3 {
    padding-bottom: 10px;
    /* font-weight: 400; */
    font-size: 24px;
}
.footer .contact-footer p {
    padding-bottom: 3px;
}
.footer .contact-footer .fa-solid {
    padding-right: 5px;
}
.footer .footer-contents .head {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.footer .footer-contents a{
    color: #fff;
    font-size: 14px;
    padding-bottom: 3px;
}
.footer .footer-contents a:hover {
    color: var(--gold);
}
.footer .profile-footer {
    display: flex;
    flex-direction: column;
}
.footer .press-footer {
    display: flex;
    flex-direction: column;
}
.footer .gallery-footer {
    display: flex;
    flex-direction: column;
}
.footer-form {
    display: flex;
    flex-direction: column;    
}
.footer form {
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.footer .footer-form h4 {
    padding: 10px 0;
}
.footer #email {
    height: 30px;
    padding-left: 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.footer .btn-list {
    height: 30px;
    background-color: #9f7728;
    border-color: #9f7728;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 10px;
}


.footer .footer-bottom {
    width: 100%;
    border-top: 2px solid #fff;
    padding: 20px 0;
    text-align: center;
}
.footer .footer-socials {
    width: 100%;
    align-items: center;
}

.footer .footer-socials ul {
    text-align: center;
    display: inline-flex;
}

.footer .footer-socials a {
    color: #fff;
}

.footer .footer-socials ul li:not(:last-child) {
    padding-right: 15px;
}

.footer .footer-socials a:hover {
    color: var(--gold);
}

.footer .footer-bottom {
    text-align: center;
}

/* ABOUT PAGE */
.about-togbe-banner {
    width: 100%;
    background-color: var(--bg);
    padding-top: 120px;    
}
.about-togbe-banner .cont-bout {
    margin: 0 80px 0;
    background-color: var(--black);
    color: var(--gold);
    text-align: center;
}
.about-togbe-banner .cont-bout h2 {
    padding: 60px 0;
    font-size: 40px;
}

.about-togbe {
    padding: 0 80px;
    background-color: var(--bg);
}
.about-togbe .cont-bout {
    padding: 40px;
    background-color: #fff;
    display: inline-flex;
}

.about-togbe .cont-bout .about-togbe-left {
    width: 65%;
    text-align: justify;
}

.about-togbe .cont-bout .about-togbe-left p {
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

.about-togbe .cont-bout .about-togbe-left ul li {
    padding-bottom: 15px;
}

.about-togbe .cont-bout .about-togbe-left ul {
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.last-p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.about-togbe .about-togbe-right {
    width: 35%;
    float: right;
    padding-left: 40px;
}

.about-togbe .about-togbe-right img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.about-togbe .about-togbe-right h3 {
    text-align: center;
    padding-top: 10px;
}



/* Contact info */

.cont-form{
    padding-top: 120px;
    padding-bottom: 50px;
}

.py-3 {
    padding: 0 80px;
}

.contact-leading{
   color: var(--gold);
   font-size: 30px;
   line-height: 1.2em;
   font-weight: bold;
   padding-bottom: 20px;
}

.cont-span {
    color: var(--black);
}

.py-3 p {
    padding: 10px 0;
}
#contact-form label{
   display: block;
   margin-bottom: 10px;
}

.py-3 .cont-form input {
   padding-top: 10px;
}

#contact-form input, #contact-form textarea{
   width: 50%;
   padding: 10px;
   border: 1px solid var(--gold);
   border-radius: 5px;
}

#contact-form textarea{
   height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus{
   outline: none;
}

.py-3 .cont-form .btn-cont {
   background-color: var(--black);
   padding: 8px 10px;
   margin-top: 10px;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   font-size: 20px;
}

.py-3 .cont-form .btn-cont:hover {
   background-color: var(--gold);
   color: var(--bg);
}

/* Gallery Section */

.gallery-sector {
    width: 100%;
}

.cont-gallery {
    width: 100%;
    padding: 30px 80px;
}

.cont-gallery a {
    color: var(--gold);
    font-size: 18px;
}

.cont-gallery .cont-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cont-head h2 {
    color: var(--gold);
    /* font-size: 25px; */
}

.cont-gallery .gallery-row {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.cont-gallery .gallery-row .content-gal {
    width: 25%;
    border: var(--gold);
}
.cont-gallery .content-gal:not(:last-child) {
    padding-right: 20px;
}

.cont-gallery .content-gal img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Media query max-width of 992px */
@media (max-width: 992px) {
    /* Header Session */
    header {
        width: 100%;
        left: 0;
    }
    .navbar-expand-lg .container {
        width: 100%;
        display: inline-block;
    }
    
    .navbar:after {
        display: none; 
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* width: 100%; */
        /* justify-content: space-between; */
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
    }
    .navbar .navbar-collapse {
        /* display: flex; */
        flex-direction: column;
    }

    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;        
        /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
    }

    .navbar-collapse ul li a:hover {
        background-color: none;
        border-radius: 0;
    }

    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
        padding: 10px;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
      }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e !important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active > .nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show > .nav-link {
        color: var(--gold) !important;
        border-bottom: none !important;
        padding-bottom: 15px;
    }

    .hero-banner h4 {
        font-size: 34px;
    }
    .hero-banner h2 {
        font-size: 60px;   
    }
    .logo-footer h4{
        font-size: 13px;
    }
    .logo-footer h3{
        font-size: 20px;
    }
    .footer .contact-footer h3 {
        font-size: 20px;
    }
    .footer .footer-contents .head {
        font-size: 16px;
    }
    .footer .contact-footer p {
        font-size: 14px;
    }
    .footer-form {
        width: 220px;
        overflow: inherit;
    }
    .footer .footer-form h4 {
        font-size: 14px;
        font-weight: 400;
    }
    .footer input#email {
        width: 170px;
    }
    .footer .btn-list {
        padding: 0 5px;
    }
    
}

/* Max-width of 768PX */
@media (max-width: 768px) {
    header {
        width: 100%;
        left: 0;
    }
    header .navbar {
        padding: 8px 12px;
    }
    header .logo h2 {
        font-size: 24px;
    }
    header .logo h2 span {
        font-size: 15px;
    }
    header .logo img {
        height: 70px;
        width: 70px;
        padding: 3px 10px 3px 0;
    }
    header .navbar .navbar-toggler {
        right: 15px;
        top: 30px;
    }

    .navigation-manual {
        bottom: 165px;
        z-index: 2;
    }

    .manual-btn:not(:last-child){
        margin-right: 20px;
    }
    .navigation-auto {
        bottom: 173px;
        z-index: 2;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 20px;
    }

    .hero-banner h4 {
        font-size: 28px;
        line-height: 28px;
    }
    .hero-banner h2 {
        font-size: 33px;
        line-height: 33px; 
    }

    .slide .slide-text a {
        font-size: 18px;
    }

    /* .slide .slide-text {
        text-align: center;
        top: 50%;
        left: 40%;
        right: 40%;
        position: absolute;
    } */

    .carousel-sec {
        padding: 20px 20px 0;
    }

    .hover-effect {
        display: none;
    }

    .best-features {
        margin: 20px 20px 0;
    }
    .best-features .ron {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .best-features .ron .left-content {
        width: 100%;
        padding-bottom: 20px;
    }

    .best-features h3 {
        font-size: 18px;
    }
    .best-features .ron .right-content {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 0;
    }

    .news {
        padding: 0 20px;
    }
    .news .media-block{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    .news .media-body {
        width: 100%;
        border-right: 0px solid rgba(0, 0, 0, 0.3);
        padding-left: 0;
        padding-right: 0;
    }
    .news .news-cont {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .news .article-block {
        width: 100%;
    }
    .news .media-body .news-cont img {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    .news .article-block {
        padding-left: 0;
        padding-right: 0;
    }
    .orange-cover {
        width: 100%;
    }
    .tourism h4 {
        font-size: 15px;
    }
    .tourism h2 {
        font-size: 32px;
    }

    .footer .cont-foot {
        padding: 30px 20px 0;
    }

    .footer .footer-contents {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding: 0 auto; */
    }
    .contact-footer, .profile-footer, .press-footer {
        padding-bottom: 15px;
    }
    .footer .footer-contents a {
        padding-bottom: 5px;
    }
    .footer .contact-footer p {
        padding-bottom: 5px;
    }
    .footer .footer-form {
        width: 100%;
        align-items: center;
    }
    .footer .footer-bottom {
        text-align: center;
    }
    .footer .footer-socials {
        width: 100%;
    }
    .footer .footer-socials ul {
        text-align: center;
        display: inline-flex;
    }

    .about-togbe-banner .cont-bout {
        margin: 0 20px 0;
    }

    .about-togbe-banner .cont-bout h2 {
        padding: 40px 0;
        font-size: 25px;
    }
    .about-togbe {
        padding: 0 20px;
        width: 100%;
        display: inline-block;
    }
    .about-togbe .cont-bout {
        padding: 20px;
        display: inline-block;
        width: 100%;
    }

    .about-togbe .cont-bout .about-togbe-left {
        width: 100%;
    }
    .about-togbe .about-togbe-right {
        width: 100%;
        padding-left: 0;
        float: none;
    }

    .py-3 {
    padding: 0 20px;
    }
    .cont-form {
        margin-top: 120px;
    }
}
