/* :root{
    --main-color:#333333;
    --black:#13131a;
    --bg: #f5f5f5;
    --gold: rgb(218, 165, 32);
    --green: #666633;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

/* Header Style */
header {
    z-index: 99999;
    width: 100%;
    color: var(--main-color);
    background-color: var(--bg);
    border-bottom: 4px solid var(--bg);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    width: 100%;
    display: inline-flex;
    padding: 20px 100px;
    /* align-items: center; */
}

.container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    float: left;
    display: inline-block;    
}
.logo h2 {
    font-size: 14px;
    color: var(--gold);
    font-size: 12px;
}

.navbar-nav {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}
.navbar-collapse {
    align-self: center;
    /* padding-right: 50px; */
}

.navbar-collapse ul li {
   color: var(--green);
   font-weight: bold;
}
.navbar-collapse ul li a{
    color: var(--main-color);
    text-decoration: none;
    padding: 7px 10px;
}

.navbar-collapse ul li a:hover {
    background-color: var(--gold);
    color: var(--bg);
    border-radius: 10px;
}

.carousel-sec {
    width: 100%;
    padding: 0 100px;
}
.carousel-sec .hr {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--gold);
}
.carousel-sec .row {
    display: inline-flex;
    width: 100%;
}
.carousel-sec .carousel-main {
    width: 25%;
    position: relative;
    color: var(--gold);
    /* border: 1px solid var(--gold); */
}
.carousel-main img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.hover-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 51, 51, 0.8);   
}
.carousel-main:hover .hover-effect {
    opacity: 1;
}

.carousel-sec .carousel-main ul li{
    list-style: none;
    padding: 10px 15px;
    background-size: cover;
    color: var(--bg);
}

.carousel-main ul li a {
    text-decoration: none;
    color: var(--bg);
    border: 2px solid var(--bg);
    /* border-radius: 50%; */
    padding: 5px;
    margin: 0 auto;
}

.carousel-main ul li a:hover {
    background: var(--black);
    color: var(--bg);
}
/* best features */
.best-features {
    width: 100%;
    margin: 30px 100px;
}
.best-features .row {
    display: inline-flex;
}
.left-content {
    width: 50%;
    position: relative;
    color: var(--gold);
}
.best-features .left-content img {
    /* float: left; */
    width: 100%;
}

.best-features .right-content {
    /* width: 50%; */
    float: right;
    position: relative;
    margin-left: 50px;    
}
.accordion li {
  justify-content: space-between;
}
.accordion a {
  cursor: pointer;
  font-size: 17px;
  color: var(--green);
  /* width: 100%; */
  background-color: var(--bg);
  padding: 15px;
  font-weight: bold;
  transition: all 0.3s;
}
  
.accordion a:hover {
  color: var(--bg) !important;
  background-color: var(--green);
}
  
.accordion a.active {
  color: var(--green) !important;
}
  
.accordion li .content {
  display: none;
  margin-top: 10px;
}
  
.accordion li:first-child {
  border-top: 1px solid var(--bg);
}
  
.accordion li {
  border-bottom: 1px solid var(--bg);
  padding: 15px 0px;
  width: 100%;
}
.accordion li a.fa-caret-down {
    right: 0;
    left: auto;
}

.arrow {
    border: solid var(--green);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    align-self: center;
}
.down {
  color: var(--green);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.accordion a::before {
    content: '+';
    color: var(--green);
    /* position: absolute; */
    top: 50%;
    left: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  } */
